.btn {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #00ade5;
    border-color: #00ade5;
}

.btn-primary:hover {
    color: #fff;
    background-color: #009ce5;
    border-color: #009ce5;
}

.kt-head-background {
    background-image: url("../../assets/media/misc/head_bg_sm.jpg");
}

.kt-avatar-profile {
    background-image: url("../../assets/media/users/100_12.jpg");
}

.progress-bar-0 {
    color: #4d75ff;
    width: 0%;
}

.progress-bar-1 {
    color: #4d75ff;
    width: 1%;
}

.progress-bar-2 {
    color: #4d75ff;
    width: 2%;
}

.progress-bar-3 {
    color: #4d75ff;
    width: 3%;
}

.progress-bar-4 {
    color: #4d75ff;
    width: 4%;
}

.progress-bar-5 {
    color: #4d75ff;
    width: 5%;
}

.progress-bar-6 {
    color: #4d75ff;
    width: 6%;
}

.progress-bar-7 {
    color: #4d75ff;
    width: 7%;
}

.progress-bar-8 {
    color: #4d75ff;
    width: 8%;
}

.progress-bar-9 {
    color: #4d75ff;
    width: 9%;
}

.progress-bar-10 {
    color: #4d75ff;
    width: 10%;
}

.progress-bar-11 {
    color: #4d75ff;
    width: 11%;
}

.progress-bar-12 {
    color: #4d75ff;
    width: 12%;
}

.progress-bar-13 {
    color: #4d75ff;
    width: 13%;
}

.progress-bar-14 {
    color: #4d75ff;
    width: 14%;
}

.progress-bar-15 {
    color: #4d75ff;
    width: 15%;
}

.progress-bar-16 {
    color: #4d75ff;
    width: 16%;
}

.progress-bar-17 {
    color: #4d75ff;
    width: 17%;
}

.progress-bar-18 {
    color: #4d75ff;
    width: 18%;
}

.progress-bar-19 {
    color: #4d75ff;
    width: 19%;
}

.progress-bar-20 {
    color: #4d75ff;
    width: 20%;
}

.progress-bar-21 {
    color: #4d75ff;
    width: 21%;
}

.progress-bar-22 {
    color: #4d75ff;
    width: 22%;
}

.progress-bar-23 {
    color: #4d75ff;
    width: 23%;
}

.progress-bar-24 {
    color: #4d75ff;
    width: 24%;
}

.progress-bar-25 {
    color: #4d75ff;
    width: 25%;
}

.progress-bar-26 {
    color: #4d75ff;
    width: 26%;
}

.progress-bar-27 {
    color: #4d75ff;
    width: 27%;
}

.progress-bar-28 {
    color: #4d75ff;
    width: 28%;
}

.progress-bar-29 {
    color: #4d75ff;
    width: 29%;
}

.progress-bar-30 {
    color: #4d75ff;
    width: 30%;
}

.progress-bar-31 {
    color: #4d75ff;
    width: 31%;
}

.progress-bar-32 {
    color: #4d75ff;
    width: 32%;
}

.progress-bar-33 {
    color: #4d75ff;
    width: 33%;
}

.progress-bar-34 {
    color: #4d75ff;
    width: 34%;
}

.progress-bar-35 {
    color: #4d75ff;
    width: 35%;
}

.progress-bar-36 {
    color: #4d75ff;
    width: 36%;
}

.progress-bar-37 {
    color: #4d75ff;
    width: 37%;
}

.progress-bar-38 {
    color: #4d75ff;
    width: 38%;
}

.progress-bar-39 {
    color: #4d75ff;
    width: 39%;
}

.progress-bar-40 {
    color: #4d75ff;
    width: 40%;
}

.progress-bar-41 {
    color: #4d75ff;
    width: 41%;
}

.progress-bar-42 {
    color: #4d75ff;
    width: 42%;
}

.progress-bar-43 {
    color: #4d75ff;
    width: 43%;
}

.progress-bar-44 {
    color: #4d75ff;
    width: 44%;
}

.progress-bar-45 {
    color: #4d75ff;
    width: 45%;
}

.progress-bar-46 {
    color: #4d75ff;
    width: 46%;
}

.progress-bar-47 {
    color: #4d75ff;
    width: 47%;
}

.progress-bar-48 {
    color: #4d75ff;
    width: 48%;
}

.progress-bar-49 {
    color: #4d75ff;
    width: 49%;
}

.progress-bar-50 {
    color: #4d75ff;
    width: 50%;
}

.progress-bar-51 {
    color: #4d75ff;
    width: 51%;
}

.progress-bar-52 {
    color: #4d75ff;
    width: 52%;
}

.progress-bar-53 {
    color: #4d75ff;
    width: 53%;
}

.progress-bar-54 {
    color: #4d75ff;
    width: 54%;
}

.progress-bar-55 {
    color: #4d75ff;
    width: 55%;
}

.progress-bar-56 {
    color: #4d75ff;
    width: 56%;
}

.progress-bar-57 {
    color: #4d75ff;
    width: 57%;
}

.progress-bar-58 {
    color: #4d75ff;
    width: 58%;
}

.progress-bar-59 {
    color: #4d75ff;
    width: 59%;
}

.progress-bar-60 {
    color: #4d75ff;
    width: 60%;
}

.progress-bar-61 {
    color: #4d75ff;
    width: 61%;
}

.progress-bar-62 {
    color: #4d75ff;
    width: 62%;
}

.progress-bar-63 {
    color: #4d75ff;
    width: 63%;
}

.progress-bar-64 {
    color: #4d75ff;
    width: 64%;
}

.progress-bar-65 {
    color: #4d75ff;
    width: 65%;
}

.progress-bar-66 {
    color: #4d75ff;
    width: 66%;
}

.progress-bar-67 {
    color: #4d75ff;
    width: 67%;
}

.progress-bar-68 {
    color: #4d75ff;
    width: 68%;
}

.progress-bar-69 {
    color: #4d75ff;
    width: 69%;
}

.progress-bar-70 {
    color: #4d75ff;
    width: 70%;
}

.progress-bar-71 {
    color: #4d75ff;
    width: 71%;
}

.progress-bar-72 {
    color: #4d75ff;
    width: 72%;
}

.progress-bar-73 {
    color: #4d75ff;
    width: 73%;
}

.progress-bar-74 {
    color: #4d75ff;
    width: 74%;
}

.progress-bar-75 {
    color: #4d75ff;
    width: 75%;
}

.progress-bar-76 {
    color: #4d75ff;
    width: 76%;
}

.progress-bar-77 {
    color: #4d75ff;
    width: 77%;
}

.progress-bar-78 {
    color: #4d75ff;
    width: 8%;
}

.progress-bar-79 {
    color: #4d75ff;
    width: 9%;
}

.progress-bar-80 {
    color: #4d75ff;
    width: 80%;
}

.progress-bar-81 {
    color: #4d75ff;
    width: 81%;
}

.progress-bar-82 {
    color: #4d75ff;
    width: 82%;
}

.progress-bar-83 {
    color: #4d75ff;
    width: 83%;
}

.progress-bar-84 {
    color: #4d75ff;
    width: 84%;
}

.progress-bar-85 {
    color: #4d75ff;
    width: 85%;
}

.progress-bar-86 {
    color: #4d75ff;
    width: 86%;
}

.progress-bar-87 {
    color: #4d75ff;
    width: 87%;
}

.progress-bar-88 {
    color: #4d75ff;
    width: 88%;
}

.progress-bar89 {
    color: #4d75ff;
    width: 89%;
}

.progress-bar-90 {
    color: #4d75ff;
    width: 90%;
}

.progress-bar-91 {
    color: #4d75ff;
    width: 91%;
}

.progress-bar-92 {
    color: #4d75ff;
    width: 92%;
}

.progress-bar-93 {
    color: #4d75ff;
    width: 93%;
}

.progress-bar-94 {
    color: #4d75ff;
    width: 94%;
}

.progress-bar-95 {
    color: #4d75ff;
    width: 95%;
}

.progress-bar-96 {
    color: #4d75ff;
    width: 96%;
}

.progress-bar-97 {
    color: #4d75ff;
    width: 97%;
}

.progress-bar-98 {
    color: #4d75ff;
    width: 98%;
}

.progress-bar-99 {
    color: #4d75ff;
    width: 99%;
}

.progress-bar-100 {
    color: #4d75ff;
    width: 10%;
}
.progress-bar{
    width: 0%;
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: 1px solid #e2e5ec;
  }